USE [DB_PERSONEL_TAKIP]
GO
/****** Object:  StoredProcedure [dbo].[VeriListele]    Script Date: 3/9/2025 8:25:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[VeriListele]
AS
SELECT TBL_EMPLOYEE.ID,TBL_EMPLOYEE.AD,SOYAD, TBL_DEPARTMENT.AD AS 'DEPARTMAN',
CASE WHEN CINSIYET=1 THEN 'ERKEK' ELSE 'KADIN' END AS CINSIYET FROM TBL_EMPLOYEE INNER JOIN TBL_DEPARTMENT ON
TBL_DEPARTMENT.ID=TBL_EMPLOYEE.DEPARTMAN